:root {
  --primary-color: #f94020;
  --dark-color: #131313;
  --light-color: #fefefe;
  --yellow-color: #fae161;
  --sm-font: 0.875rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

ul {
  list-style: none;
}

ul li {
  display: inline-block;
}

img {
  width: 100%;
}

/* Utility classes */

.flex-h {
  display: flex;
  flex-flow: row nowrap;
}
.flex-v {
  display: flex;
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.main-nav {
  height: 50px;
  background: var(--light-color);
}

.nav-top,
.middle-nav ul {
  display: none;
}

.logo {
  width: 106px;
  height: 48px;
}

.middle-nav a,
.middle-nav i {
  font-size: var(--sm-font);
  padding: 1rem;
  border-left: 1px solid #eee;
}

.lower-nav {
  height: 60px;
  background: var(--yellow-color);
  padding: 1rem;
  font-size: var(--sm-font);
  text-align: center;
}

.lower-nav a {
  color: var(--dark-color);
  margin-right: 0.4rem;
}

/* Media Queries */
@media (min-width: 768px) {
  .main-nav {
    display: grid;
    grid-template-columns: 106px 1fr;
    grid-template-rows: repeat(3, auto);
    height: 110px;
  }

  .nav-top,
  .middle-nav ul {
    display: block;
  }

  .logo {
    display: none;
  }

  .nav-top {
    display: flex;
    background: var(--dark-color);
    justify-content: space-between;
    padding: 0.3rem;
  }

  .nav-top a {
    font-size: 0.8rem;
    margin-right: 0.3rem;
  }

  .nav-top li:first-child {
    margin-left: 1rem;
  }

  .nav-top li:last-child {
    margin-right: 1rem;
  }

  .middle-nav a {
      color: var(--dark-color);
      grid-column: 2 / -1;
      grid-row: 2;
  }
}
