:root {
  --primary-color: #f94020;
  --dark-color: #131313;
  --light-color: #fefefe;
  --yellow-color: #fd3;
  --sm-font: 0.875rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { background: var(--light-color); }

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

ul { list-style: none; }

ul li { display: inline-block; }

img { width: 100%; }

/* ============================================ Utility Classes ============================================= */

.flex-h { display: flex; flex-flow: row nowrap; }

.flex-v { display: flex; flex-direction: column; }

.space-between { justify-content: space-between;}

.fill-parent { width: 100%; height: 100%; }

.s-b { border: 1px solid; }

.font-orbitron { font-family: 'Orbitron', sans-serif;}

.font-public { font-family: 'Public Sans', sans-serif; }

.font-manrope { font-family: 'Manrope', sans-serif; }

/* ================================================== Nav section ============================================= */

.main-nav {
  flex-wrap: nowrap;
}

.nav-top,
.middle-nav ul {
  display: none;
}

.logo {
  width: 106px;
  height: 48px;
}

.middle-nav i {
  font-size: var(--sm-font);
  padding: 1rem;
  border-left: 1px solid #eee;
}

.middle-nav .font-awsome .bars {
  order: 1;
}

.lower-nav {
  height: 60px;
  background: var(--yellow-color);
  padding: 1rem;
  font-size: var(--sm-font);
  text-align: center;
}

.lower-nav a {
  color: var(--dark-color);
  margin-right: 0.4rem;
}

/* ================================================== Header section ============================================= */

.header-cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  border: 1px solid green;
  height: 75vh;
}

.left-card {
  background: url(../images/AWS-Amazon.png) no-repeat center center/cover;
  position: relative;
  z-index: 1;
}

.right-card-top {
  background: url(../images/broken-comp.png) no-repeat center center/cover;
  position: relative;
  z-index: 1;
}

.card-content-left{
  position: relative;
  z-index: 6;
}

.right-card-bottom {
  background: url(../images/WhatsApp.png) no-repeat center center/cover;
  position: relative;
  z-index: 1;
}

.card-link {
  position: absolute;
  border: 1px solid blue;
  z-index: 5;
}

.gradient-dark {
  background: rgba(0, 0, 0, 0.25) url(../images/image-gradient.png) no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
  position: absolute;
  z-index: 2;
}

.gradient-red {
  display: none;
  background: transparent url(../images/cover-gradient.png) no-repeat;
  background-position: 0 0;
  background-size: cover;
  position: absolute;
  mix-blend-mode: lighten;
  z-index: 4;
}

.top-content {
  display: none;
}

.bottom-text {
  
}

img[src="/images/tnw-header.png"] {
  width: 34%;
  filter: brightness(0) invert(1);
  
}

/* Media Queries */
@media (max-width: 400px) {
  .lower-nav a {
    display: inline-block;
    width: 97vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 0.5rem;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (min-width: 768px) {
  .main-nav {
    display: grid;
    grid-template-columns: 106px 1fr;
    grid-template-rows: repeat(3, auto);
    height: 110px;
  }

  .nav-top,
  .middle-nav ul {
    display: block;
  }

  .logo {
    display: none;
  }

  .md-logo {
    grid-column: 1/2;
    grid-row: 1 / span 2;
    background: url(../images/logo.jpg) no-repeat center center/cover;
  }

  .nav-top {
    display: flex;
    background: var(--dark-color);
    justify-content: space-between;
    padding: 0.3rem;
  }

  .nav-top a {
    font-size: 0.8rem;
    margin-right: 0.3rem;
  }

  .nav-top li:first-child {
    margin-left: 1rem;
  }

  .nav-top li:last-child {
    margin-right: 1rem;
  }

  .middle-nav {
    grid-column: 2 / -1;
    height: 50px;
    display: flex;
    align-items: center;
  }

  .middle-nav a {
    color: #aaa;
    font-size: var(--sm-font);
    margin-right: 0.625rem;
  }

  .middle-nav ul li:first-child {
    margin-left: 1.25rem;
  }

  .middle-nav .bars {
    display: none;
  }

  .middle-nav ul li:nth-child(6),
  .middle-nav ul li:nth-child(7) {
    display: none;
  }

  .lower-nav {
    grid-column: 1 / -1;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 920px) {
  .main-nav {
    display: block;
  }

  .main-nav .md-logo {
    display: none;
  }

  .middle-nav ul li:nth-child(6),
  .middle-nav ul li:nth-child(7) {
    display: inline-block;
  }

  .lower-nav {
    justify-content: start;
  }
}
